body{
    font-family: 'Balsamiq Sans', cursive;
}

.height{
    height: 100vh;
    box-shadow: aliceblue;
}

.title-underline{
    width: 100px;
    height: 5px;
    margin: 0 auto;
}


#login{
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.7)),url(../image/1.jpeg)center/cover no-repeat fixed;
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

.image{
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.7)),url(../image/b3.png)center/cover no-repeat ;
}